<h1>Credits</h1>
<p>
    A game by <a href="https://github.com/TimNilsson04">Tim Nilsson</a>, <a href="">Rasmus Johansson</a>, <a
        href="">Albert Sparrman</a> and <a href="">Angelica Sjödin</a>.
</p>
<p>
    Programmers Tim Nilsson, Rasmus Johansson, Albert Sparrman and Angelica Sjödin.
</p>
<p>
    Designers Albert Sparrman and Angelica Sjödin.
</p>
<p>
    Front End Back End Programmers Tim Nilsson and Rasmus Johansson.
</p>
<p>
    Art by Albert Sparrman and Angelica Sjödin.
</p>
<p>
    Music by Tim Nilsson.
</p>
<p>
    Audio Engineer <a href="https://www.soundtrap.com/home/creator/projects">Tim Nilsson</a>.
</p>
<p>
    Made with <a href="https://angular.io/">Angular</a> and <a href="https://storybook.js.org/">Storybook</a>.
</p>
<p>
    Special thanks to Tim Fagerdal for the credits idea
</p>
<p>
    Dedicated to Mr.Fresh.
</p>
<p>
    And thank you for playing!
</p>
<p>
    And a really special thanks to <br>
    My family, for supporting me. <br>
    My friends, for supporting me. <br>
    My teachers, for supporting me. <br>
    My classmates, for supporting me. <br>
    Myself, for supporting me. <br>
    The internet, for supporting me. <br>
    The people who made the internet, for supporting me. <br>
    The people who made the people who made the internet, for supporting me. <br>
    The people who made the people who made the people who made the internet, for supporting me. <br>
    The people who made the people who made the people who made the people who made the internet, for supporting me.
    <br>
    The people who made the people who made the people who made the people who made the people who made the internet,
    for supporting me. <br>
    The people who made the people who made the people who made the people who made the people who made the people
    who made the internet, for supporting me. <br>
    The people who made the people who made the people who made the people who made the people who made the people
    who made the people who made the internet, for supporting me. <br>
    The people who made the people who made the people who made the people who made the people who made the people
    who made the people who made the people who made the internet, for supporting me. <br>
</p>
<app-button-component [color]="'white'" [label]="'Back'" (onClick)="onClickHome()"></app-button-component>