<h1>You died!</h1>
<div *ngIf="condition === 'highscoreChart'">
    <h2>Top 3</h2>
    <h3 *ngFor="let topScore of topScores">{{ [topScore + 1] }} {{ [highscore[topScore].name] }} {{
        [highscore[topScore].score] }}</h3>
</div>
<div *ngIf="condition === 'inputHighscoreName'">
    <input type="text" name="" id="" #nameInput>
    <button type="button" (click)="sortHighscore()">Confirm</button>
</div>
<app-button-component [color]="'none'" [label]="'Restart'" (onClick)="onClickRestart()"></app-button-component>
<app-button-component [color]="'none'" [label]="'Exit'" (onClick)="onClickExit()"></app-button-component>