<section class="ending-screen">
    <section class="highscore-top-container">
        <h1 *ngIf="condition === 'highscoreChart'">You died!</h1>
        <h1 *ngIf="condition === 'fromStartHighscore'">Highscore</h1>
        <app-button-component *ngIf="condition === 'highscoreChart'" [color]="'none'" [label]="'Restart'"
            (onClick)="onClickRestart()"></app-button-component>
        <app-button-component *ngIf="condition === 'highscoreChart'" [color]="'none'" [label]="'Replay'"
            (onClick)="onClickReplay()"></app-button-component>
        <app-button-component [color]="'none'" [label]="'Exit'" (onClick)="onClickExit()"></app-button-component>
    </section>
    <div class="highscore" *ngIf="condition === 'highscoreChart' || 'fromStartHighscore'">
        <h2 class="highscore-title">Highscores</h2>
        <section class="highscore-text" *ngFor="let topScore of topScores">
            <p class="highscore-name">{{ [topScore + 1 + "."] }} {{ [highscore[topScore].name] }}</p>
            <p>{{ [highscore[topScore].score.toFixed(0)] }}</p>
        </section>
    </div>
    <div class="input-highscore" *ngIf="condition === 'inputHighscoreName'">
        <h2>New Highscore!</h2>
        <p>Enter your initials</p>
        <section class="input-highscore-name">
            <input type="text" name="" maxlength="3" id="" #nameInput>
            <button type="button" (click)="sortHighscore()">Confirm</button>
        </section>
    </div>
</section>