.display-none {
    display: none;
}

.tile-outer {
    box-sizing: border-box;
    border: 3px #E5E6E7 solid;
    width: 100%;
    max-width: 180px;
    aspect-ratio: 1;
}

.tile-inner {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/tileChecked.png);
    background-size: cover;
    opacity: 0;
    transition: 0.2s;
}

.tile-inner:hover {
    opacity: 0.35;
}

.tile-checkbox:checked+label {
    opacity: 0.7;
}


.tile-hint {
    background-color: azure;
}

#form {
    border: 3px #E5E6E7 solid;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}