.display-none {
    display: none;
}

.tile-outer {
    border: 4px #E5E6E7 solid;
    width: calc(100% - 4px);
    max-width: 180px;
    aspect-ratio: 1;
}

.tile-inner {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/tileChecked.png);
    background-size: cover;
    opacity: 0;
    transition: 0.3s;
}

.tile-inner:hover {
    opacity: 0.35;
}

.tile-checkbox:checked+label {
    opacity: 0.7;
}


.tile-hint {
    background-color: azure;
}