<button (click)="onClickRestart()">Restart</button>
<button (click)="onClickHome()">Home</button>
<h1>Draw {{ countries[randomCountryIndex].name }}</h1>
<h2>Lives: {{ lives }}</h2>
<h2>Score: {{ score }}</h2>
<h2>Score Multiplier: {{ scoreMultiplier.toFixed(2) }}</h2>
<form #form id="form" action="" ng-controller="ExampleController">
    <section *ngFor="let tile of tiles" class="tile-outer">
        <input type="checkbox" id="Placeholder" [ngClass]="['display-none', 'tile-checkbox']">
        <label for="Placeholder" class="tile-inner"></label>
    </section>
</form>
<button type="button" (click)="onCheckConfirm()">Confirm</button>
<div #snackbar id="snackbar"></div>