@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.button {
  color: rgb(0, 0, 0);
  display: inline-block;
  cursor: pointer;
  
  font-weight: 700;
  font-size: 30px;
  font-family: "VT323", monospace;
  line-height: 1;

  margin-top: 0.5em;
  padding: 6px;
  padding-left: 3em;
  padding-right: 3em;
  border-width: 10px;
  border-style: solid;

  width: 400px;
  max-width: 80vw;
}

@media (max-width: 840px) { 
  .button {
      width: 250px;
  }
}

.button:hover{
  transform: scale(1.2);
}

.button--blue {
  border-color: #AAC2D2;
  background-color: #ceebff;
}

.button--green {
  border-color: #78A372;
  background-color: #bcffb1;
}

.button--yellow {
  border-color: #CCC057;
  background-color: #fff067;
}

.button--smallYellow {
  border-color: #CCC057;
  background-color: #fff067;
  width: 4.5em;
}

.button--red {
  border-color: #CC7A7A;
  background-color: #ff9999;
}

.button--black {
  color: #b92713;
  border-color: #222222;
  background-color: #2b2b2b;
}

.button--none {
  border-color: transparent;
  background-color: transparent;
  color: white;
}
