<section class="tile">
    <section class="draw-container">
        <h1 class="draw-country">Draw </h1>
        <section class="form-padding">
            <form #form id="form" action="" ng-controller="ExampleController">
                <section *ngFor="let tile of tiles" class="tile-outer">
                    <label for="Placeholder" class="tile-inner"></label>
                </section>
            </form>
        </section>
    </section>
    <section class="replay">
        <div class="progress-bar-outer">
            <div id="progressBar" class="progress-bar-inner"></div>
        </div>
        <section class="replay-buttons">
            <button (click)="onClickHome()"><img src="../../assets/images/home.png" alt="Home"></button>
            <section class="replay-buttons-middle">
                <button (click)="skipBackward()"><img src="../../assets/images/lastFrame.png" alt="Previous frame"></button>
                <button (click)="togglePlayPause()" class="play-paus"></button>
                <button (click)="skipForward()"><img src="../../assets/images/nextFrame.png" alt="Next frame"></button>
            </section>
            <button (click)="rewind()"><img src="../../assets/images/rewind.png" alt="Rewind"></button>
        </section>
    </section>
</section>

