/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --color-background: #668caf;
    --color-light: #e5e6e7;
    --color-dark: #1e1e1e;
    --color-secondary: #4f5c7c;
    --color-tertiary: #ceebff;

    --shadow1: 0px 5px 0px rgba(0, 0, 0, 0.3);
}

body {
    margin: 0;
}