.home-flex {
    box-shadow: inset 0px 40vh 40vh -40vh black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
}



.logo {
    width: 700px;
    max-width: 80vw;
    filter: drop-shadow(5px 0 0 var(--color-light)) drop-shadow(0 5px 0 var(--color-light)) drop-shadow(-5px 0 0 var(--color-light)) drop-shadow(0 -5px 0 var(--color-light)) drop-shadow(0 5px 10px #00000075)
}


.home-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 840px) {
    .logo {
        width: 400px;
        filter: drop-shadow(3px 0 0 var(--color-light)) drop-shadow(0 3px 0 var(--color-light)) drop-shadow(-3px 0 0 var(--color-light)) drop-shadow(0 -3px 0 var(--color-light)) drop-shadow(0 5px 10px #00000075)
    }
}

@media (max-height: 840px) {
    .logo {
        width: 400px;
        filter: drop-shadow(3px 0 0 var(--color-light)) drop-shadow(0 3px 0 var(--color-light)) drop-shadow(-3px 0 0 var(--color-light)) drop-shadow(0 -3px 0 var(--color-light)) drop-shadow(0 5px 10px #00000075)
    }
    .home-buttons {
        flex-direction: row;
        gap: 20px;
    }
}